<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Chorder.GUI" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <Chorder.GUI>
            <setting name="MAIN_BACK_COLOR" serializeAs="String">
                <value>90, 100, 105</value>
            </setting>
            <setting name="TOP_PANEL_COLOR" serializeAs="String">
                <value>100, 110, 115</value>
            </setting>
            <setting name="MAIN_BORDER_COLOR" serializeAs="String">
                <value>140, 145, 150</value>
            </setting>
            <setting name="MAIN_TEXT_COLOR" serializeAs="String">
                <value>155, 160, 165</value>
            </setting>
            <setting name="CTRL_BTNS_HOVER_COLOR" serializeAs="String">
                <value>120, 130, 135</value>
            </setting>
            <setting name="CTRL_BTNS_PRESS_COLOR" serializeAs="String">
                <value>75, 85, 95</value>
            </setting>
            <setting name="TEXT_SELECT_COLOR" serializeAs="String">
                <value>165, 170, 175</value>
            </setting>
            <setting name="MAIN_DARK_COLOR" serializeAs="String">
                <value>65, 70, 75</value>
            </setting>
            <setting name="SCROLL_BAR_COLOR" serializeAs="String">
                <value>100, 110, 115</value>
            </setting>
            <setting name="SCROLL_BAR_HOVER_COLOR" serializeAs="String">
                <value>105, 115, 120</value>
            </setting>
            <setting name="SCROLL_BAR_MOUSE_DOWN_COLOR" serializeAs="String">
                <value>120, 130, 135</value>
            </setting>
            <setting name="SCROLL_ARROW_COLOR" serializeAs="String">
                <value>100, 110, 115</value>
            </setting>
            <setting name="SCROLL_ARROW_HOVER_COLOR" serializeAs="String">
                <value>105, 115, 120</value>
            </setting>
            <setting name="SCROLL_ARROW_MOUSE_DOWN_COLOR" serializeAs="String">
                <value>120, 130, 135</value>
            </setting>
        </Chorder.GUI>
    </applicationSettings>
</configuration>
